<div class="black-card">
    <div class="image-uploader">
        <div class="upload-container" *ngIf="podeAcessar">
            <input type="file" multiple (change)="onFileChange($event)" />
            <button (click)="uploadImages()" [disabled]="!files.length">Enviar Imagens</button>
        </div>
        <div *ngIf="uploading" class="loading">
            <p>Carregando...</p>
        </div>
        <div class="carousel-container" *ngIf="imageUrls.length">
            <ngb-carousel style="height: 400px;">
                <ng-template ngbSlide *ngFor="let image of imageUrls">
                    <div class="picsum-img-wrapper" (click)="showModal(image.fileUrl)">
                        <img [src]="image.fileUrl" alt="{{ image.fileName }}" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <h1 class="alert-title">Quadrilha ativa</h1>
</div>
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <img [src]="modalImageUrl" style="margin-left: 25%;" />
            </div>
        </div>
    </div>
</div>