h5 {
  margin-bottom: 0rem;
}
.main{
  overflow-x: hidden;
  min-height: 100vh !important;
  background-image: url(../../../../src/assets/bg-pc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #21327D;
}
/* .logo {
  width: 70%;
  background-image: url(../../../assets/LOGOTWO.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
/* .hello {
  background-image: url(../../../assets/LOGOTWO.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 91px;
} */
.formDiv {
  padding: 0px 30px;
}

.loginForm {
  box-shadow: rgb(46, 46, 46) 0px 13px 27px -5px, rgba(68, 67, 67, 0.3) 0px 8px 16px -8px;
  background-color: white;
 
  border: 1px solid rgb(194, 188, 188);
  border-radius: 3px;
  padding: 30px 30px;
  padding-bottom: 20px;
  max-width: 460px
}
.title h6 {
  font-size: 18px;
  margin-bottom: 0rem;
}
.logIn {
  border: none;
  border-radius: 20px;
  background-color: rgb(2, 2, 119);
  padding: 5px 10px;
  color: white;
}
.loginForm input {
  }
.loginForm input::placeholder{
  font-size: 14px;
  color: rgb(194, 188, 188);
}

.inner-addon {
  position: relative;
  margin-bottom: 12px;
  padding-top: 3px;
}

/* style glyph */
.inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: rgb(194, 188, 188);
}

/* align glyph */
.left-addon .fa-user  { left:  0px;}
.right-addon .fa-lock { left: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-left: 30px; }


@media only screen and (max-width: 600px) {
  
 
}

@media only screen and (max-width: 425px) {
  /* .main {
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

}
.dashNav h4 {
font-weight: bolder;
}