.btn-default {
  font-family: "Segoe Pro Semibold";
  border-radius: 30px;
  border: 1px solid #1e2a67;
  color: #1e2a67;
  transition: 300ms ease-in-out;
  font-size: 0.833rem !important;
  background-color: #ffffff;
  line-height: 1.7rem;
  padding: 2px 10px;
}

.confirm {
  color: #ffffff;
  background-color: #1e2a67;
}

.confirm:hover {
  opacity: 0.8;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #1e2a67 !important;
}

.btn-default span {
  color: #1e2a67 !important;
}

.btn-default:hover span {
  color: #ffffff !important;
}

.confirm span {
  color: #ffffff !important;
  background-color: #1e2a67 !important;
}

.confirm:hover span {
  opacity: 0.8 !important;
}

button:disabled {
  opacity: 0.6;
  cursor: no-drop;
}

button:disabled:hover {
  opacity: 0.6;
  cursor: no-drop;
}

button > span {
  display: flex;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
