<div class="image-uploader">
    <div class="upload-container" *ngIf="podeAcessar">
        <input type="file" multiple (change)="onFileChange($event)" />
        <button (click)="uploadImages()" [disabled]="!files.length">Enviar Imagens</button>
    </div>
    <div *ngIf="uploading" class="loading">
        <p>Carregando...</p>
    </div>
    <div class="carousel-container" *ngIf="imageUrls.length">
        <div class="photo-grid">
            <div class="photo-cell" *ngFor="let photo of imageUrls">
                    <img [src]="photo.fileUrl" [alt]="photo.fileName" (click)="showModal(photo.fileUrl)">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Imagem Ampliada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img [src]="modalImageUrl" style="width: 100%;" />
            </div>
        </div>
    </div>
</div>