.color-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-options {
  display: flex;
  gap: 1rem;
}

.color-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.color-box {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  position: relative;
}

.color-box.selected {
  border-color: black;
}

.arrow {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

.legend-box {
  /* margin-top: 5rem; */
    padding: 1rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    height: 110px;
    font-size: 26px;
}
